@import url("../fonts/fonts.css");

/*Main*/
*{
	font-family: "Myriad-Pro";
}

.showback{
	transform: rotateY(180deg) translateZ(-0px);
}

.orangetxt{
	color: #FF6600!important;
}

.bluetxt{
	color: #66B8FF!important;
}

.greentxt{
	color: #96C900!important;
}

#main section{
	position: relative;
    overflow: hidden;
    display: flex;
    min-height: 20rem;
}

.megatitle{
	font-family: "Segoe-Print";
    color: #1E1E1E;
    font-weight: bold;
    font-size: 31pt;
    margin-top: 7rem;
    margin-bottom: 4rem;
    text-align: center;
}

.none-container{
	width: 100%;
	float: left;
	display: block;
	overflow: hidden;
}
.rainbowground{
	background-image: url(../img/newrainbow.svg), url(../img/newrainbowbottom.svg);
    background-position: top,0 100.5%;
    background-repeat: no-repeat, no-repeat;
    background-size: 100% auto, 100% auto;
}
.right-down-rainbow{
	background-image: url(../img/anotherbacklinebottom.svg);
	background-position-y: 101%;
	background-repeat: no-repeat;
	background-size: 100% auto;
}
.orangearrow > div{
	background-image: url(../img/orangearrow.png)!important;
}

.rainbowground-onlytop{
	background-image: url(../img/newrainbow.svg);
	background-position-y: 0;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.rainbowground-left-bottom{
	background-image: url(../img/left-rainbow.svg);
    background-repeat: no-repeat;
    background-size: 30rem;
    background-position: bottom left;
    height: 38rem;
}

.rainbowground-onlybottom{
	background-image: url(../img/newrainbowbottom.svg);
    background-position: 0 100.5%;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.sectiontitle{
	background-color: #1E1E1E;
}

.sectiontitle h1{
	font-family: "Myriad-Pro-Bold";
	font-size: 60pt;
	color: #fff;
	padding: 0 3rem;
	margin-top: 5rem;
}

.sectiontitle h1.dobleline{
	font-size: 45pt!important;
	margin-top: 2rem;
}

.standar-transition h4{
	text-align: center;
	font-family: "Myriad-Pro";
	color: #464646;
	font-weight: 400;
	font-size: 26pt;
}
.standar-transition span{
	font-family: "Segoe-Print";
	color: #1E1E1E;
	font-weight: bold;
	font-size: 33pt;
}
/*Header Styles*/
header > nav.bg-light{
	background-color: #1E1E1E!important;
	max-height: 39.92px!important;
}
#principalnav > a > img{
	height: 30px;
	margin: auto 20px;
}
.nav-item a{
	color: #fff!important;
	font-family: "Myriad-Pro";
	padding: .3rem 1.2rem!important;
	font-size: 16.4pt;
}
.nav-item.active a, .nav-item a:hover{
	color: #66B9FF!important;
}
.nav-esp-container{width: 100%}
.dropdown-menu{
	left: auto!important;
	right: 5px!important;
	margin: 0px;
	border: 0px;
	-webkit-box-shadow: 0px 4px 13px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 13px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 13px -2px rgba(0,0,0,0.75);
}
.dropdown-menu a{
	color: #58595B!important;
	font-size:14pt!important;
}
.dropdown-menu>.arrow::before{
	bottom: 0;
    border-width: 0 0.5rem 0.6rem;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #fff;
    position: absolute;
    content: "";
    border-style: solid;
}
.dropdown-menu>.arrow{
	position: absolute;
    display: block;
    width: .8rem;
    height: .8rem;
    top: -12px;
    right: 18px;
}
.dowgradient{
	height: .5rem;
	width: 100%;
	background: linear-gradient(270deg, #83addb, #4470ad, #c96627, #c0362e, #9eba37, #69a142, #9eba37, #c0362e, #c96627, #4470ad, #83addb);
	background-size: 1200% 1200%;
	-webkit-animation: animateBackground linear infinite;
	-moz-animation: animateBackground linear infinite;
	animation: animateBackground linear infinite;
	animation-duration: 12s;
}

/*Banner*/

.banner {
    background-image: url(../img/banner-01.png);
    background-repeat: no-repeat;
    height: 50rem;
    width: 100%;
    background-size: 100% 100%;
    display: flex;
    position: relative;
}
.principaltitle{
	width: 40%;
    height: 6rem;
    background-image: url(../img/enterprise-title.svg);
    position: absolute;
    top: 2rem;
    left: 30%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.left-appear{
	position: absolute;
    bottom: 1.5rem;
    left: 3rem;
}

.left-appear >h3{color: #fff; margin-bottom: 18px;}

.left-appear >h3>span{padding: 0rem 2rem; font-weight: 400;}

.left-appear >h3:nth-child(1)>span{
	background-color: #96C900;
	font-size: 28.31pt;   
}

.left-appear >h3:nth-child(2)>span{
	background-color: #66B8FF;
	font-size: 48.63pt;
}

.left-appear >h3:nth-child(3)>span{
	background-color: #FF6600;
	font-size: 48.63pt;
}

/**/
.down-arrow{
	position: absolute;
	top: 2rem;
	width: 100%;
	left: 0;
}
.down-arrow>div{
	margin: auto;
	width: 5rem;
    background-image: url(../img/downarrow.png);
    height: 5rem;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 0px 6px 9px -2px;
    border-radius: 50%;
    border: solid 5px rgba(255,255,255,.5);
    position: relative;
}

.figure-container{
	width: 100%;
    height: auto;
    position: relative;
    /* height: 20px; */
    display: flex;
    overflow: hidden;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.cubiccontanier{
	width: 20%;
	float: left;
    padding: 15px;
    position: relative;
	perspective:500px;
}
.cube{
	width: 100%;
    height: 16rem;
    position: relative;
    max-width: 16rem;
	margin: auto;
	transform-style: preserve-3d;
    transition: transform 1s;
}

.cubiccontanier h4{
	text-align: center;
	margin-top: 1rem;
	font-size: 18pt;
	font-weight: 400;
}

.cube figure {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 1rem;
  background-repeat: no-repeat;
  background-size: 90% 90%;
}

.cube .back {
  transform: rotateY(180deg) translateZ(-0px);
}

.cube .front {
  transform: rotateX(0deg) translateZ(0px);
}

.cube>.back>div:nth-child(1){
	width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-color: rgba(255,255,255,0.7);
    border-radius: 1rem;
}

.cube>.back>div:nth-child(2){
	width: 100%;
    height: 100%;
    display: table;
}
.cube>.back>div:nth-child(2)>div{
	display: table-cell;
    vertical-align: middle;
}

.cube>.back>div:nth-child(2)>div>p{
	text-align: center;
    padding: 0px .5rem;
}

.cc1>.cube>.front{
	background-color: #96C900;
	background-image: url(../img/listicon.svg);
    background-position: -.7rem -.9rem;
}

.cc1>.cube>.back{
	background-color: #fff;
	background-image: url(../img/listicon.svg);
    background-position: -.7rem -.9rem;
    border: solid 3px #96C900;
}

.cc2>.cube>.front{
	background-color: #8F278B;
	background-image: url(../img/gifticon.svg);
	background-position: 50% 2.5rem;
}

.cc2>.cube>.back{
	background-color: #fff;
	background-image: url(../img/gifticon.svg);
    background-position: 50% 2.5rem;
    border: solid 3px #8F278B;
}

.cc3>.cube>.front{
	background-color: #66B8FF;
	background-image: url(../img/ticketicon.svg);
	background-position: -1rem -1.5rem;
	background-size: 100% 100%!important;
}

.cc3>.cube>.back{
	background-color: #fff;
	background-image: url(../img/ticketicon.svg);
    background-position: -1rem -1.5rem;
    border: solid 3px #66B8FF;
}

.cc4>.cube>.front{
	background-color: #FF6600;
	background-image: url(../img/qericon.svg);
	background-position: 2rem 3rem;
}

.cc4>.cube>.back{
	background-color: #fff;
	background-image: url(../img/qericon.svg);
    background-position: 2rem 3rem;
    border: solid 3px #FF6600;
}

.cc5>.cube>.front{
	background-color: #1D71B5;
	background-image: url(../img/mailicon.svg);
	background-position: 2rem 0rem;
}

.cc5>.cube>.back{
	background-color: #fff;
	background-image: url(../img/mailicon.svg);
    background-position: 2rem 0rem;
    border: solid 3px #1D71B5;
}

.cc1>h4{color: #96C900;}
.cc2>h4{color: #8F278B;;}
.cc3>h4{color: #66B8FF;}
.cc4>h4{color: #FF6600;}
.cc5>h4{color: #1D71B5;}

.rainbowground .standar-transition{
	margin-bottom: 15rem;
}

/**/
.coolbanner{
	background-image: url(../img/figuresbck.svg);
	background-color: #1E1E1E;
	z-index: 2;
	height: 40rem;
}
.transparentline{
	background-color: transparent;
	min-height: 15rem!important;
}

section.coolbanner > div > div > div:nth-child(1) > h3{
	font-size: 60pt;
	color: #95C11F;
	font-family: "Segoe-Print";
	font-weight: bold;
	text-align: center;
	line-height: 40pt;
	margin-top: 5rem
}

section.coolbanner > div > div > div:nth-child(1) > h3>span{
	font-family: "Myriad-Pro";
	font-size: 26pt;
	font-weight: 400;
	color: #fff;
}

#accordion{
	margin-bottom: 5rem;
}

.coolbanner .card{
	background-color: transparent!important;
    border: 0px!important;
    border-radius: 0px!important;
}
.coolbanner .card-header{
	border-bottom:0px!important;
	padding: .25rem 1.25rem!important;
}

.coolbanner .card-header button{
	padding: 0px;
	text-decoration: none;
	width: 100%;
}
.coolbanner .card-header button>h5{
	text-align: left;
	font-weight: bold;
}

.coolbanner .card-header button>h5::before{
	content: "+";
    color: #4470ad;
    float: right;
    font-size: 20pt;
    font-weight: bold;
}

.coolbanner .card-header button.collapsed>h5::before{
	content: "-";	
}

.coolbanner .card-header button.collapsed>h5{
	font-weight: 100;
}

.coolbanner .card-header button, .coolbanner .card-body{
	color: #fff;
}

.coolbanner .coolgradient{
	background: linear-gradient(270deg, transparent ,#83addb, #4470ad, #c96627, #c0362e, #9eba37, #69a142, transparent);
	height: 2px;
}

section.coolbanner{
	overflow: initial!important;
}

#main > section.coolbanner > div > div > div:nth-child(2){
	perspective: 600px;
}

#main > section.coolbanner > div > div > div:nth-child(2) > figure{
	position: absolute;
    width: 66%;
    height: 35rem;
    margin: 3rem 20%;
    /* margin-top: 4rem; */
    background-image: url(../img/trans1.png);
    z-index: 99;
    /* box-shadow: 20px 0px 35px -10px rgba(0,0,0,0.6); */
    /* transform: rotateY(-45deg); */
    background-size: 70% 100%;
    background-repeat: no-repeat;
    border-radius: 1rem;
    background-position: center;
}

/*Video*/
.videoback{
	height: 30rem!important;
}
#myVideo{
	top: -10rem;
	position: absolute;
}
#myVideo,#myVideo>video{width: 100%;}

/*DownRainbow*/

section.gtindevices.right-down-rainbow > div > div.container{
	margin-top: 10rem;
}

section.gtindevices.right-down-rainbow > div > div.container > div > h5{
	text-align: center;
	font-size: 28pt;
}

section.gtindevices.right-down-rainbow > div > div.standar-transition{
	margin-top: 5rem;
	margin-bottom: 15rem;
}

.devicecoolanimation{

}
div.devicecoolanimation > div{
	width: 100%;
    display: flex;
}
div.devicecoolanimation > div > figure{
	width: 20%;
	height: 15rem;
	display: flex;
	background-repeat: no-repeat;
	position: relative;
}

div.devicecoolanimation > div > figure > p{
	position: absolute;
    width: 100%;
    bottom: -3rem;
    text-align: center;
    font-size: 22pt;
    color: #58595B;
}

div.devicecoolanimation > div > figure:nth-child(1){
	background-image: url(../img/tablet.svg);
    background-size: 60% 70%;
    background-position: center;
}

div.devicecoolanimation > div > figure:nth-child(2){
	background-image: url(../img/firtpoints.png);
	background-size: 70% 4%;
	background-position: center;
	background-position-x: 1rem;
}

div.devicecoolanimation > div > figure:nth-child(3){
	background-image: url(../img/laptop.svg);
	background-size: 100% 70%;
	background-position: center;
}

div.devicecoolanimation > div > figure:nth-child(4){
	background-image: url(../img/firtpoints.png);
	background-size: 70% 4%;
	background-position: center;
	background-position-x: 3rem;
}

div.devicecoolanimation > div > figure:nth-child(5){
	background-image: url(../img/smartphone.svg);
	background-size: 50% 70%;
	background-position: center;
}

.left-down-float{
	position: absolute;
    bottom: 2rem;
    left: 1rem;
}

div.left-down-float > div > a:nth-child(1){
	margin-right: 2rem;
}

/*Footer*/

footer > div.footer-body{
	background-color: #1E1E1E;
    position: relative;
    width: 100%;
    padding: 5rem 0rem;
}

footer > div.footer-body > div > div.row.all-enterprise-right{
	position: absolute;
    width: 100%;
    left: 15px;
    bottom: 0;
    background: #EB6528;
    right: 0;
    text-align: center;
}

footer > div.footer-body > div > div.row.all-enterprise-right > h5{
	text-align: center;
    width: 100%;
    color: #fff;
    font-weight: 100;
    font-size: 12pt;
    line-height: 25pt;
    margin: 0px;
}

footer > div.footer-body > div > div:nth-child(1) > div.col-9{
	display: flex;
}

.five-cols{
	width: 20%;
	padding: 0px 15px;
	display: block;
}

.footer-body .five-cols h3{
	color: #C3C3C3;
	font-size: 17.4pt;
	margin-bottom: 2rem;
}

.footer-body .five-cols a{
	color: #C3C3C3;
	text-decoration: none;
	text-align: left;
}

.footer-body .five-cols a:hover, .footer-body .five-cols a:focus{
	color: #95C11F;
}

.footer-body .five-cols a h2{
	font-size: 14.4pt;
}

.footer-body .five-cols ul{
	list-style: none;
	padding: 0px;
}

div.social-icons{
	text-align: center;
}

.social-icons ul{
	display: -webkit-inline-box;
    padding: 0px;
    list-style: none;
    margin: auto;
}

div.social-icons > ul > li > a > div{
	height: 30px;
    width: 30px;
    margin: 0px 5px;
    background-repeat: no-repeat;
	background-position: center;
}

.facebook{
	background-image: url(../img/face.svg);
}
.twitter{
	background-image: url(../img/twit.svg);
}
.youtube{
	background-image: url(../img/yout.svg);
}
.instagram{
	background-image: url(../img/inst.svg);
}
.pinterest{
	background-image: url(../img/pint.svg);
}
.spotify{
	background-image: url(../img/spoti.svg);
}
.innet{
	background-image: url(../img/innet.svg);
}

div.footer-body > div > div:nth-child(1) > div.col-3 > div:nth-child(1){
	text-align: center;
}

div.footer-body > div > div:nth-child(1) > div.col-3 > div:nth-child(1) > button{
	background-color: #fff;
    border: 0;
    padding: 7pt;
    font-size: 15pt;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

div.dialog-block{
	text-align: center;
	margin-top: 3rem;
}

div.dialog-block > button{
	background-image: url(../img/glob.svg);
    padding: 1.2rem 2.5rem;
    background-color: transparent;
    border: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90% 90%;
}

div.dialog-block > button>span{
	color: #fff;
	font-size: 20pt;
}

/*Big G*/

.big-g-container{
	width: 100%;
	display: flex;
	float: left;
	overflow: hidden;
}
.rainbowground-left-bottom .dowgradient{
	display: flex;
	position: absolute;
    bottom: 0;
}

div.big-g-container > div:nth-child(1) > img{
	max-width: 75%;
	min-width: 30rem;
}

div.big-g-container > div:nth-child(1){
	text-align: left;
    padding: 1rem 0;
}

div.big-g-container > div:nth-child(2){
	text-align: center;
}

div.big-g-container > div:nth-child(2) > div{
	height: 100%;
    display: table;
    width: 100%;
}

div.big-g-container > div:nth-child(2) > div > div{
	vertical-align: middle;
    display: table-cell;
}

div.big-g-container > div:nth-child(2) > div > div > h1{
	font-family: "Segoe-Print";
    color: #1E1E1E;
    font-weight: bold;
    font-size: 61pt;
}

div.big-g-container > div:nth-child(2) > div > div > p{
	font-size: 21pt;
    color: #464646;
    font-weight: 400;
}

div.big-g-container > div:nth-child(2) > div > div > button{
	background-color: #FF6600;
    color: #fff;
    padding: 0.5rem 5.5rem;
    margin-top: 5rem;
    font-size: 22pt;
    border: none;
    border-radius: .5rem;
    font-weight: bold;
}

/*///////////////////*/

.getters, .givers{
	display: block!important;
}

.downtitle{
	position: relative;
    width: 100%;
    display: block;
    float: left;
    overflow: hidden;
    min-height: 12rem;
}

.espcontainer>.downtitle{
	float: none;
	margin-bottom: 5rem;
}

div.downtitle > h4{
	text-align: center;
    font-size: 33pt;
    color: #808080;
}

div.downtitle > div > div{
	top: 4rem;
	background-image: url(../img/bluearrow.png);
}

.floatingelements{
	height: 70rem;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.givers .floatingelements{
	height: 90rem;
}

.espcontainer > div.downtitle > div{
	width: 100%;
    text-align: center;
}

.espcontainer > div.downtitle > div > img{
	max-width: 30rem;
}

.espcontainer > div.downtitle>.down-arrow{
	top: 2rem!important;
}

section.givers > div.downtitle > div{
	width: 100%;
    text-align: center;
}

section.givers > div.downtitle > div > img{
	max-width: 30rem;
}

section.givers > div.downtitle > h4{
	margin-top: -3rem;
	margin-bottom: 5rem;
}

div.espcontainer > div.downtitle > p{
	text-align: center;
	font-size: 25pt;
}

.floatingelements > div > div:nth-child(1) >div {
    border-radius: 50%;
    border: dashed .3rem #808080;
    background-color: transparent;
    margin: auto;
}

.floatingelements > div:hover div:nth-child(1) >div{
	animation: ease 1s;
	border-color: #fff;
	background: linear-gradient(270deg, #83addb, #4470ad, #c96627, #c0362e, #9eba37, #69a142);
	transition: all .25s ease-out;
}

.floatingelements > div:hover div:nth-child(2) p{
	font-size: 18pt;
	font-weight: bold;
	transition: all .25s ease-out;
}

.floatingelements > div > div:nth-child(1) >div >figure{
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
}

.floatingelements figure{
	width: 100%;
    height: 100%;
}


div.floatingelements > div > div:nth-child(2) p{
	color: #808080;
	font-size: 16pt;
}

div.floatingelements > div{
	display: table;
	position: absolute;
}

div.floatingelements > div > div:nth-child(1),div.floatingelements > div > div:nth-child(2){
	width: 50%;
	padding: 0px 15px;
	display: table-cell;
	vertical-align: middle;
}

section.getters > div.floatingelements > div:nth-child(1){
	width: 40rem;
	top: 10%;
    left: 3%;
}

section.getters > div.floatingelements > div:nth-child(1) > div:nth-child(1) > div{
	height: 20rem;
    width: 20rem;
}

section.getters > div.floatingelements > div:nth-child(1) > div:nth-child(1) > div > figure{
	background-image: url(../img/clock.svg);
	background-color: #66B8FF;
	background-size: 11rem;
	border: solid 1rem #fff;
}


section.getters > div.floatingelements > div:nth-child(2){
	width: 35rem;
    top: 20%;
    left: 50%;
}

section.getters > div.floatingelements > div:nth-child(2) > div:nth-child(1) > div{
	height: 17rem;
    width: 17rem;
}

section.getters > div.floatingelements > div:nth-child(2) > div:nth-child(1) > div > figure{
	background-image: url(../img/anotherlist.svg);
	background-color: #8F278B;
	background-size: 8rem;
	border: solid 1rem #fff;
}


section.getters > div.floatingelements > div:nth-child(3){
	width: 30rem;
    top: 40%;
    left: 22%;
}

section.getters > div.floatingelements > div:nth-child(3) > div:nth-child(1) > div{
	height: 14rem;
    width: 14rem;
}

section.getters > div.floatingelements > div:nth-child(3) > div:nth-child(1) > div > figure{
	background-image: url(../img/broch.svg);
	background-color: #FF6600;
	background-size: 7rem;
	border: solid 1rem #fff;
}


section.getters > div.floatingelements > div:nth-child(4){
	width: 40rem;
    top: 53%;
    left: 56%;
}

section.getters > div.floatingelements > div:nth-child(4) > div:nth-child(1) > div{
	height: 24rem;
    width: 24rem;
}

section.getters > div.floatingelements > div:nth-child(4) > div:nth-child(1) > div > figure{
	background-image: url(../img/mltgifts.svg);
	background-color: #96C900;
	background-size: 13rem;
    background-position: 60% 60%;
    border: solid 1rem #fff;
}

section.getters > div.floatingelements > div:nth-child(5){
	width: 30rem;
    top: 67%;
    left: 12%;
}

section.getters > div.floatingelements > div:nth-child(5) > div:nth-child(1) > div{
	height: 12rem;
    width: 12rem;
}

section.getters > div.floatingelements > div:nth-child(5) > div:nth-child(1) > div > figure{
	background-image: url(../img/miniclock.svg);
	background-color: #1D71B5;
	background-size: 7rem;
	border: solid 1rem #fff;
}



section.givers > div.floatingelements > div:nth-child(1){
	width: 40rem;
	top: 10%;
    left: 3%;
}

section.givers > div.floatingelements > div:nth-child(1) > div:nth-child(1) > div{
	height: 18rem;
    width: 18rem;
}

section.givers > div.floatingelements > div:nth-child(1) > div:nth-child(1) > div > figure{
	background-image: url(../img/net.svg);
	background-color: #1D71B5;
	background-size: 15rem;
	border: solid 1rem #fff;
}


section.givers > div.floatingelements > div:nth-child(2){
	width: 40rem;
    top: 20%;
    left: 55%;
}

section.givers > div.floatingelements > div:nth-child(2) > div:nth-child(1) > div{
	height: 14rem;
    width: 14rem;
}

section.givers > div.floatingelements > div:nth-child(2) > div:nth-child(1) > div > figure{
	background-image: url(../img/qerwhite.svg);
	background-color: #96C900;
	background-size: 10rem;
	border: solid 1rem #fff;
}


section.givers > div.floatingelements > div:nth-child(3){
	width: 30rem;
    top: 38%;
    left: 18%;
}

section.givers > div.floatingelements > div:nth-child(3) > div:nth-child(1) > div{
	height: 13rem;
    width: 13rem;
}

section.givers > div.floatingelements > div:nth-child(3) > div:nth-child(1) > div > figure{
	background-image: url(../img/mininet.svg);
	background-color: #c0362e;
	background-size: 10rem;
	border: solid 1rem #fff;
}


section.givers > div.floatingelements > div:nth-child(4){
	width: 40rem;
    top: 53%;
    left: 50%;
}

section.givers > div.floatingelements > div:nth-child(4) > div:nth-child(1) > div{
	height: 14rem;
    width: 14rem;
}

section.givers > div.floatingelements > div:nth-child(4) > div:nth-child(1) > div > figure{
	background-image: url(../img/i.png);
	background-color: #FF6600;
	background-size: 8rem;
    border: solid 1rem #fff;
}

section.givers > div.floatingelements > div:nth-child(5){
	width: 35rem;
    top: 60%;
    left: 5%;
}

section.givers > div.floatingelements > div:nth-child(5) > div:nth-child(1) > div{
	height: 15rem;
    width: 15rem;
}

section.givers > div.floatingelements > div:nth-child(5) > div:nth-child(1) > div > figure{
	background-image: url(../img/medal.svg);
	background-color: #1D71B5;
	background-size: 15rem;
	border: solid 1rem #fff;
}


section.givers > div.floatingelements > div:nth-child(6){
	width: 35rem;
    top: 80%;
    left: 35%;
}

section.givers > div.floatingelements > div:nth-child(6) > div:nth-child(1) > div{
	height: 14rem;
    width: 14rem;
}

section.givers > div.floatingelements > div:nth-child(6) > div:nth-child(1) > div > figure{
	background-image: url(../img/uphand.png);
	background-color: #8F278B;
	background-size: 5rem;
	border: solid 1rem #fff;
}

/*Sliders*/

.slider-princ{
	margin-bottom: 15rem;
}

.slider-princ .slick-slide>img{
	width: 90%;
	margin: auto;
}
.slick-prev:before{
	content: "<";
	margin-right: 0.22rem;
}

.slick-next:before{
	content: ">";
	margin-left: 0.22rem;
}

.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 4rem;
    height: 4rem;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background-color: #1E1E1E;
    color: #96C900;
    border-radius: 50%;
}

.slider-princ .slick-prev{
	top: 50%;
	left: -6rem;
}

.slider-princ .slick-next{
	top: 50%;
	right: -6rem;
}

.slick-prev:before,.slick-next:before{
	font-size: 2.5rem;
    line-height: 1rem;
}
.focusin{
	position: relative;
}

.rainbowtooltip.transshow{
	visibility: visible;
  	opacity: 1;
	transition: visibility 0s, opacity 0.25s linear;
}

.rainbowtooltip{
	position: absolute;
	max-width: 500px;
	text-align: justify;
	background: linear-gradient(270deg, #83addb, #4470ad, #c96627, #c0362e, #9eba37, #69a142);
	padding: 1px;
	z-index: 3;
	-webkit-box-shadow: 0px 5px 20px -7px;
	-moz-box-shadow: 0px 5px 20px -7px;
	box-shadow: 0px 5px 20px -7px;
	visibility: hidden;
	opacity: 0;
}

.rainbowtooltip>div{
	background-color: #fff;
	padding: 15px;
	position: relative;
}
.rainbowtooltip>div>div.bckr{
	position: absolute;
    background: linear-gradient(45deg, #83addb, #4470ad, #c96627, #c0362e, #9eba37, #69a142);
    background-size: 340%;
    transform: rotate(45deg);
    top: -15px;
    width: 30px;
    height: 30px;
    z-index: -1;
}

.rainbowtooltip>div>div.bcwht{
	position: absolute;
    background: #fff;
    transform: rotate(45deg);
    top: -14.5px;
    width: 28px;
    height: 28px;
    z-index: 0;
}

.rainbowtooltip h6{
	font-family: "Myriad-Pro-Bold";
	font-size: 25pt;
}

.rainbowtooltip.center h6{
	text-align: center;
}

.rainbowtooltip.right h6{
	text-align: right;
}


.rainbowtooltip.center>div>div.bckr{
	left: 235px;
}

.rainbowtooltip.center>div>div.bcwht{
	left: 236px;
}

.rainbowtooltip.left>div>div.bckr{
	left: 50px;
}

.rainbowtooltip.left>div>div.bcwht{
	left: 51px;
}

.rainbowtooltip.right>div>div.bckr{
	right: 50px;
}

.rainbowtooltip.right>div>div.bcwht{
	right: 51px;
}
.slick-slide>img{
	margin: auto;
}

.espcontainer{
	margin-top: 50rem;
}

.trendslider.slick-slide{
	display: block;
    height: 25rem;
    overflow: hidden;
    margin-top: 7.5rem;
    position: relative;
    transition: all ease .25s;
}

.espcontainer .slick-prev{
	left: 2rem;
	z-index: 99;
}

.espcontainer .slick-next{
	right: 2rem;
	z-index: 99;
}

.trendslider.slick-slide>img{
	margin: auto;
	width: 100%;
}

.trendslider.slick-slide.slick-current.slick-active{
	height: 40rem;
	margin-top: 0rem;
}

.trendslider.slick-slide.slick-current.slick-active>img{
	width: 100%;
	/*height: 100%;*/
}

.espcontainer > div:nth-child(1){
	position: absolute;
	width: 100%;
	left: 0;
	height: 30rem;
	top: 15rem;
}

.espcontainer > div:nth-child(1) .megaslider{
	position: relative;
}

.whitemask{
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, #fff, transparent,transparent);
}

div.espcontainer > div:nth-child(2) > p{
	text-align: center;
    font-size: 22pt;
    margin-bottom: 5rem;
}

.document-content .container-fluid{
	padding: 5rem 3rem;
}

.document-content .row{
	padding: 2rem 0;
}

.document-content p{
	line-height: 27pt;
    font-size: 15pt;
    color: #444444;
}

section.document-content > div > div > div > p:nth-child(1) > span{
	font-size: 50pt;
}

.aboutus .text-regular-container{
	padding: 5rem 3rem;
	line-height: 40pt;
    font-size: 20pt;
    color: #444444;
    text-align: center;
}

.aboutus .text-regular-container p>strong{
	font-family: "Roboto-Regular";
	font-weight: 100;
	font-size: 24pt;
}

#main > section.aboutus > div > div:nth-child(1){
	background-image: url(../img/coolbg.png);
	background-size: 40%;
	background-position: 0% 20%;
	background-repeat: no-repeat;
}

#main > section.aboutus > div > div:nth-child(1) > div > h6{
	text-align: center;
	color: #8D8D8D;
	font-size: 15pt;
	margin-top: 4rem;
	margin-bottom: 1rem;
}

#main > section.aboutus > div > div:nth-child(2) > div{
	width: 100%;
}

#main > section.aboutus > div > div:nth-child(2) > div>h2{
	text-align: left;
	padding: 1rem 3rem;
	color: #8D8D8D;
	font-family: "Roboto-Regular";
	font-size: 48pt;
}

#main > section.aboutus > div > div:nth-child(2) > img{
	width: 100%;
}

.blogheader{
	background-color: #1E1E1E;
	min-height: 15rem!important;
	background-image: url(../img/conections.svg);
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	display: table!important;
	width: 100%;
	margin-bottom: 7rem;
	overflow: visible!important;
}

.blogheader > div:nth-child(1){
	background:linear-gradient(90deg, #1E1E1E, transparent);
	width: 50%;
	display: table-cell;
	vertical-align: middle;
}

.blogheader > div:nth-child(1) > h1{
	font-size: 60pt;
	font-family: "Segoe-Print";
	color: #fff;
	padding: 0rem 2rem;
	font-weight: bold;
}

section.infoblog > div > div{
	border: solid 1.1px #B7B7B7;
	width: 95%;
	margin: auto;
	padding: 1rem;
	box-shadow: 15px 20px 19px -15px;
	border-radius: .5rem;

}

section.infoblog > .container-fluid{
	padding-bottom: 4rem;
}

.rainbowline{
	border: 0px;
	background: linear-gradient(270deg, #83addb, #4470ad, #c96627, #c0362e, #9eba37, #69a142);
	padding: 1.5px;
	margin: 1rem 0px;
}

section.infoblog > div > div >h2{
	font-family: "Myriad-Pro-Bold";
	font-size: 25pt;
	text-align: left;
}

section.infoblog > div > div > p{
	font-family: "Roboto-Regular";
	color: #58595B;
	line-height: 25pt;
	text-align: justify;
	padding: 1rem;
}

.plateicon{
	background-image: url(../img/goodplate.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	height: 7rem;
    width: 7rem;
    margin: auto;
}

.tikecticon{
	background-image: url(../img/grayticket.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	height: 7rem;
    width: 7rem;
    margin: auto;
}

section.infoblog > div >h6{
	padding: 0px 3%;
    color: #666666;
    font-size: 14pt;
}

.centericon{
	margin: auto;
    overflow: hidden;
    margin: 3rem 0px;
}

.centericon .col-6{
	float: left;
	text-align: center;
}

.centericon p{
	text-align: center;
	font-size: 45pt;
	color: #666666;
	line-height: 33pt;
}

.centericon p>span{
	color: #ADADAD;
	font-size: 20pt;
}

section.infoblog > div > div > div:nth-child(6){
	height: 2rem;
    width: 100%;
}

section.infoblog > div > div > div:nth-child(6)>a{
	float: right;
    text-decoration: none;
    color: #333333;
    line-height: 22pt;
}

section.infoblog > div > div > div:nth-child(6)>a>div{   
	height: 2rem;
    width: 2rem;
    background-image: url(../img/graymininet.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    margin-right: 10px;
}

.fullnets{
	position: absolute;
    width: 100%;
    left: 0;
    height: 6rem;
    bottom: -3rem;
}

.fullnets>div{
	margin: auto;
	text-align: center;
	overflow: hidden;
    display: table;
}

.fullnets >div > span > a >figure{
	width: 4.5rem;
    height: 4.5rem;
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ECECEC;
    border-radius: 50%;
    box-shadow: 0px 2px 15px 0px #000;
    margin-right: 1rem;
    margin-left: 1rem;
    float: left;
}

.fullnets > div > span:nth-child(1) > a > figure{
	background-size: 1.4rem;
}

.rainbowelementdown{
	background-image: url(../img/newrainbowbottom.svg);
    background-position:0 100%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 5rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.banerimgcont{
	background-position:center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 50rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.allfornt>.left-appear{
	top: 3rem;
    bottom: auto;
    left: 0;
}

.allfornt>.left-appear>h1{
	padding: .5rem 2rem .5rem 4rem;
    background-color: #66B8FF;
    color: #fff;
    font-size: 30pt;
    font-family: Roboto-Regular;
}

.sectionbigbanner{
	height: 50rem;
}

.fullback{
	background-image: url(../img/opback.png);
    background-position:0 100%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    min-height: 55rem!important;
}

.fullback>.container-fluid{
	padding: 0px 6rem;
}

.bigimgcont{
	background-image: url(../img/custompicture.png);
    width: 50%;
    height: 45rem;
    position: absolute;
    right: 5rem;
    top: 10rem;
    background-position: 50% 40%;
}

#main > section.fullback > div > div{
	float: left;
}

#main > section.fullback > div > div.col-7 > h2{
	font-size: 50pt;
    color: #96C900;
    font-weight: bold;
    line-height: 40pt;
    margin-top: 7rem;
    margin-bottom: 2rem;
}

#main > section.fullback > div > div.col-7 > div > h2{
	font-size: 30pt;
    font-weight: bold;
    line-height: 40pt;
    color: #333333;
    font-family: "Roboto-Regular";
}

#main > section.fullback > div > div.col-7 > div > h2 > a{
	font-weight: 100;
    text-decoration: none;
    color: #30B4E8;
}

#main > section.fullback > div > div.col-7 > h2 > span{
	font-size: 30pt;
	color: #333333;
}

#main > section.fullback > div > div.col-7 > div > button{
	background-color: #EB6528;
	color: #fff;
	padding: .5rem 2rem;
	border: 0px;
	border-radius: 1rem;
	font-size: 18pt;
	margin-left: 7rem;
}

#main > section.fullback > div > div.col-7 > div > div > a > div{
	height: 4rem;
	width: 4rem;
	background-size: 2rem;
	background-position: center;
	background-repeat: no-repeat;
	float: left;
}

#main > section.fullback > div > div.col-7 > div > div > a:nth-child(1) > div{
	background-size: 1.2rem;
}

.fullback > div > div.col-7 > div > div{
	display: table;
    margin-top: 3rem;
    margin-left: 2.5rem;
    margin-bottom: 2rem;
}

.joinsection .left-appear{
	width: 45%;
	top: 20%;
	text-align: center;
}

.joinsection .left-appear>p{
	font-size: 20pt;
	margin-bottom: 6rem;
	margin-top: 2rem;
}

.orangebutton{
	background-color: #EB6528;
    color: #fff;
    padding: .5rem 2rem;
    border: 0px;
    border-radius: .5rem;
    font-size: 18pt;
}

.joinsection .left-appear>.orangebutton{
	padding: .5rem 4rem;
}


.joinsection>div>.allfornt>.left-appear>h1{
	width: 80%;
	background-color: #95C11F;
}

.colofigures{
	overflow: hidden;
}

.colofigures > div{
	float: left;
}

.orangeclock{
	background-image: url(../img/orangeclock.svg);
	width: 10rem;
	height: 10rem;
	background-position: center;
	background-size: 100% 100%;
	margin: auto;
}
.purplegift{
	background-image: url(../img/purplegift.svg);
    width: 10rem;
    height: 10rem;
    background-position: center;
    background-size: 100% 100%;
    margin: auto;
}
.bluestadistics{
	background-image: url(../img/bluestadistics.svg);
    width: 10rem;
    height: 10rem;
    background-position: center;
    background-size: 100% 100%;
    margin: auto;
}
.greencoin{
	background-image: url(../img/greencoin.svg);
    width: 10rem;
    height: 10rem;
    background-position: center;
    background-size: 100% 100%;
    margin: auto;
}

.joinblock > div{
	margin: 6rem 0px;
	text-align: center;
}

div.colofigures > div > figure{
	margin-bottom: 2rem;
	margin-top: 5rem;
}

div.colofigures > div > span{
	font-size: 16pt;
}

#main > section.joinblock > div > div:nth-child(3) > h2{
	margin: 3rem 0px;
}

section.joinblock > div > div:nth-child(3) > h2{
	font-size: 33pt;
	font-family: "Myriad-Pro-Bold";
}

section.joinblock > div > div:nth-child(3) > h2>a{
	font-size: 28pt!important;
}

section.joinblock > div > div:nth-child(3) > button{
	font-size: 22pt;
	font-family: "Myriad-Pro-Bold";
}




.premium-table >.container-fluid{
	margin: 4rem 0px;
}

.premium-table >.container-fluid>div{
	float: left;
}


.premium-table > div > h2{
	font-size: 35pt;
	font-family: "Roboto-Regular";
	font-weight: bold;
	color: #58595B;
	margin-bottom: 3rem;
}

.premium-table > div > h2>span{
	font-weight: 100;
	font-size: 28pt;
}

.premium-table > div > div.col-8 > div.form-group.col-3{
	float: right;
    padding: 0px;
}

.premium-table > div > div.col-4 > div:nth-child(2) > ul{
	list-style: none;
    padding: 0px;
}

.premium-table > div > div.col-4 > div:nth-child(2) > ul > li > a{
	text-decoration: none;
    font-size: 16pt;
    color: #58595B;
}

.premium-table > div > div.col-4 > div:nth-child(2) > ul > li > a:hover{
	color: #66B6FF;
}

.premium-table > div > div.col-4 > div:nth-child(2) > ul > li > a>p{
	padding: 0px 3rem;
    position: relative;
    font-size: 12pt;
    line-height: 20pt;
    margin-bottom: 1.2rem;
}

.premium-table > div > div.col-4 > div:nth-child(2) > ul > li > a> p> span{
	position: absolute;
    font-size: 19pt;
    border: solid 1px;
    border-radius: 50%;
}

.premium-table > div > div.col-4 > div:nth-child(2) > ul > li > a> p> span:nth-child(1){
	left: 0;
}

.premium-table > div > div.col-4 > div:nth-child(2) > ul > li > a> p> span:nth-child(2){
	right: 0;
}


.medal-figure{
	background-image: url(../img/medal.svg);
    width: 8rem;
    height: 8rem;
    background-position: center;
    background-size: 100% 100%;
    margin: auto;
    margin-bottom: 3rem;
    margin-top: 4.5rem;
}

.greengradient{
	background: linear-gradient(45deg, #39B050, #94C700, #39B050);
}

.darkgreengradient{
	background: linear-gradient(45deg, #23773A, #3AA555, #23773A);
}

.orangegradient{
	background: linear-gradient(45deg, #FF6600, #F6AB3B, #FF6600);
}

.bluegradient{
	background: linear-gradient(45deg, #0077B7, #66B6FF, #0077B7);
}

.darkbluegradient{
	background: linear-gradient(45deg, #003B70, #1D71B3, #003B70);
}
.up-fixarrow{
	position: fixed;
    right: 2rem;
    bottom: 2rem;
    height: 5rem;
    width: 5rem;
    background-position: center;
    background-image: url(../img/uparrow.svg);
    background-size: 95%;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.3);
    z-index: 99;
}

.up-fixarrow:hover{
	cursor: pointer;
}

.premiuncontainer {
	width: 100%;
	box-shadow: 10px 10px 30px -10px;
	float: left;
}

.premiuncontainer>div{
	width: 100%;
}

.premiuncontainer>div>div{
	width: 20%;
	float: left;
}


.tblhead{
	font-size: 14pt;
    color: #fff;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
}

.tblhead>p{
	padding: 1rem;
}

.tblbody ul{
	padding: 0px;
	list-style: none;
}

.tblbody{
	text-align: center;
}

.tblbody li{
	font-size: 12pt;
	padding: .65rem 0rem;
}

.minusicon:before{
	background-color: #B7B7B7;
	color: #fff;
	padding: .5rem;
	font-weight: 100;
	font-size: 11pt;
	border-radius: 50%;
}

.checkicon:before{
	background-color: #66B6FF;
	color: #fff;
	padding: .5rem;
	font-weight: 100;
	font-size: 11pt;
	border-radius: 50%;
}

.premiuncontainer>div>div{
	border: .5px solid #B7B7B7;
}

table.premium-tbl > tbody > tr > td > ul > li>a{
	text-decoration: none;
    background-color: #66B6FF;
    color: #fff;
    padding: .3rem .8rem;
    border-radius: .2rem;
}


.modal-dialog{
	background: linear-gradient(270deg, #83addb, #4470ad, #c96627, #c0362e, #9eba37, #69a142);
	border-radius: .3rem;
}

.modal-content{
	border: solid 2px transparent;
}

.form-check{
	float: left;
	line-height: 30pt;
}

.form-check-input{
	margin-top: 0.9rem;
}

.justbtnn{
	border: 0px;
	border-bottom: 1px solid #ced4da;
}

.smallbtn{
	margin: auto;
	font-size: 12pt;
}

#exampleModal > div > div > div.modal-body > form > div:nth-child(8) > div.form-group.col-12 > p{
	margin: 0px;
    padding: 0px 5px;
}

.premiuncontainer>div>div:hover{
	box-shadow: 0px 0px 36px -6px;
	margin-top: -.5rem;
	padding-bottom: .5rem;
	cursor: pointer;
}

/*Animations*/

@-webkit-keyframes animateBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes animateBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes animateBackground { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}