@import 'fonts.css';

/*ESTILOS GENERALES*/

.general-banner>div.container, .general-banner>div.container>div.fullscreen{
  height: 100%!important;
}

.general-banner>div.container>div.fullscreen{
  display: table!important;
}

.general-banner>div.container>div.fullscreen>div.banner-content{
  display: table-cell;
  vertical-align: middle;
  position: relative;
  top: 0;
}

.general-banner>div.container>div.fullscreen>div.banner-content>div{
  width: 45%;
}

.Two-title h1 {
  
    font-family: Raleway-Black!important;
    font-size: 122pt!important;
    font-style: normal!important;
    line-height: .8 !important;
    text-transform: uppercase;
    margin-top: 0;
  }

.Two-title h1 span {
  
  font-family: Raleway!important;
  font-size: 37pt!important;
  font-style: normal!important;
  font-weight: 300!important;
  text-transform: uppercase;
  line-height: .8em !important;
}

.Two-title p {
  
    font-family: Raleway!important;
    font-size: 12pt!important;
    font-style: normal!important;
    text-transform: initial;
    line-height: 1.5em !important;
    text-align: justify;
    margin-right: 4em;
    padding-top: 1em;
    margin-bottom: 1.5em;
}

.Two-title i{
    font-size: 30pt;
    color: white;
    position: absolute;
    left: -55px;
    top: -10px;
}

.Two-title a {
    color: white;
    font-size: 12pt;
    vertical-align: baseline;
    font-weight: bold;
    position: relative;
    margin-left: 55px;
}

.Two-title>a>span:before{
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -7px;
  right: 0;
  content: "";
}

/*Media query*/
/*start mobile*/
@media only screen and   (min-width:457px) and (max-width:576px){

  .general-banner>div.container>div.fullscreen>div.banner-content>div {
     width: auto; 
  }
  .Two-title h1 {
    font-size: 40pt!important;
    text-align: center;
  }

  .Two-title h1 span {
    font-size: 12pt!important;
    margin-right: 26%;
    margin-left: 26%;
        
  }
  .Two-title p {
    font-size: 11pt!important;
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 2.5em;
  }

  .Two-title i{
    font-size:25pt!important;
    left:-45px!important;
    
}
  .Two-title a {
    
    font-size: 10pt!important;
    margin-left: 100px;
  }
}


@media only screen and (max-width:456px){

  .general-banner>div.container>div.fullscreen>div.banner-content>div {
    width: auto; 
 }
 .Two-title h1 {
   font-size: 44pt!important;
   text-align: center;
 }

 .Two-title h1 span {
   font-size: 12pt!important;
   margin-right: 22%;
   margin-left: 18%;
       
 }
 .Two-title p {
   font-size: 11pt!important;
   margin-right: 1em;
   margin-left: 1em;
   margin-top: 1em;
   margin-bottom: 2.5em;
 }

 .Two-title i{
   font-size:25pt!important;
   left:0px;
   
}

  .Two-title a {
    
    font-size: 10pt!important;
    margin-left: 57px;
}
} 

/*end mobile*/
/*start tablet*/
@media only screen and   (min-width:577px) and (max-width:767px){

  .general-banner>div.container>div.fullscreen>div.banner-content>div {
     width: auto; 
  }
  .Two-title h1 {
    font-size: 90pt!important;
   }

  .Two-title h1 span {
    font-size: 25pt!important;
        
  }
  .Two-title p {
    font-size: 12pt!important;
    margin-right: 0em;
    margin-left: 0em;
    margin-top: 1em;
    margin-bottom: 2.5em;
  }

  .Two-title i{
    font-size:30pt!important;
    left:-45px!important;
    
  }
  .Two-title a {
    
    font-size: 12pt!important;
    margin-left: 40px;
  }
}


@media only screen and   (min-width:768px) and (max-width:991px){

  .general-banner>div.container>div.fullscreen>div.banner-content>div {
    width: auto; 
 }
 .Two-title h1 {
   font-size: 100pt!important;
  }

 .Two-title h1 span {
   font-size: 35pt!important;
       
 }
 .Two-title p {
   font-size: 12pt!important;
   margin-right: 15em;
   margin-left: .8em;
   margin-top: 1em;
 }

 .Two-title i{
   font-size:30pt!important;
   left:-45px!important;    
 }
  .Two-title a {
    
    font-size: 12pt!important;
    margin-left: 60px;
  }
}

/* end tablet*/

/*Start desktop*/



